# Analyse exploratoire des données

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
import seaborn as sn
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import confusion_matrix, f1_score
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
import matplotlib.pyplot as plt
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
import nltk

Regroupement des fichiers dans (donne.csv)

## Chargement

In [5]:
#donn.to_csv('donne.csv')

In [4]:
do = pd.read_csv("donne.csv", dtype={'user_id':'int64','book_id':'int64','rating':'int64','goodreads_book_id':'int64','best_book_id':'int64','work_id':'int64','books_count':'int64','isbn':'object','isbn13':'float64','authors':'object','original_publication_year':'float64','original_title':'object','title':'object','language_code':'object','average_rating':'float64','ratings_count':'int64','work_ratings_count':'int64','work_text_reviews_count':'int64','ratings_1':'int64','ratings_2':'int64','ratings_3':'int64','ratings_4':'int64','ratings_5':'int64','image_url':'object','small_image_url':'object','to_read':'float64','tags':'object'})

In [5]:
do.head(2)

,Unnamed: 0,user_id,book_id,rating,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,...,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,to_read,tags
0,0,1,258,5,1232,1232,3209783,279,143034901,9.780143e+12,...,24652,4789,11769,42214,101612,157170,https://images.gr-assets.com/books/1344545047m...,https://images.gr-assets.com/books/1344545047s...,0.0,to-read fantasy favorites currently-reading fi...
1,1,11,258,3,1232,1232,3209783,279,143034901,9.780143e+12,...,24652,4789,11769,42214,101612,157170,https://images.gr-assets.com/books/1344545047m...,https://images.gr-assets.com/books/1344545047s...,0.0,to-read fantasy favorites currently-reading fi...

Division du jeu de données

In [6]:
train, test = train_test_split(do, test_size=0.001)

méthode spearman association entre les variables

In [7]:
do.corr(method='spearman').style.format("{:.2}")

Ponderation

In [121]:
test.sort_values("rating", ascending=False).head()

,user_id,book_id,rating,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,...,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,to_read,tags
220725,9089,413,5,7190,7190,1263212,1341,NaN,NaN,Alexandre Dumas,...,4974,2176,8195,46090,83254,81766,https://images.gr-assets.com/books/1320436982m...,https://images.gr-assets.com/books/1320436982s...,0.0,to-read fantasy favorites currently-reading yo...
382422,29315,47,5,19063,19063,878368,251,375831002,9.780376e+12,Markus Zusak,...,93611,17892,35360,135272,377218,722056,https://images.gr-assets.com/books/1390053681m...,https://images.gr-assets.com/books/1390053681s...,0.0,to-read fantasy favorites currently-reading yo...
5265622,42017,6489,5,13183957,13183957,18364495,24,1620610086,9.781621e+12,Jennifer L. Armentrout,...,2550,259,966,5045,9896,12453,https://images.gr-assets.com/books/1328414465m...,https://images.gr-assets.com/books/1328414465s...,0.0,to-read fantasy favorites currently-reading yo...
4378291,41458,291,5,3591262,3591262,3633533,74,375414495,9.780375e+12,Abraham Verghese,...,23146,4586,9249,32671,91293,143280,https://images.gr-assets.com/books/1327931601m...,https://images.gr-assets.com/books/1327931601s...,0.0,to-read favorites currently-reading fiction bo...
2164820,11740,1305,5,297249,297249,945340,56,807508527,9.780808e+12,"Gertrude Chandler Warner, L. Kate Deal",...,2391,2080,4487,18904,27979,42493,https://images.gr-assets.com/books/1173489650m...,https://images.gr-assets.com/books/1173489650s...,0.0,to-read favorites currently-reading young-adul...

affichage des tags

In [91]:
test['tags'].str.split(" ", n = 10, expand = True)

,0,1,2,3,4,5,6,7,8,9,10
4788394,to-read,fantasy,favorites,currently-reading,young-adult,fiction,books-i-own,owned,ya,series,favourites owned-books re-read adventure sci-f...
3712241,to-read,fantasy,favorites,currently-reading,young-adult,fiction,books-i-own,owned,ya,childrens,owned-books re-read adventure children childre...
215918,to-read,favorites,currently-reading,young-adult,fiction,books-i-own,owned,favourites,owned-books,re-read,all-time-favorites default my-books classics r...
5967937,to-read,favorites,currently-reading,fiction,books-i-own,owned,owned-books,audiobook,audiobooks,read-in-2016,library audio kindle to-buy ebook contemporary...
3087654,to-read,fantasy,favorites,currently-reading,fiction,books-i-own,owned,series,favourites,owned-books,re-read default my-books i-own audiobook novel...
...,...,...,...,...,...,...,...,...,...,...,...
956682,to-read,favorites,currently-reading,fiction,books-i-own,owned,favourites,owned-books,re-read,all-time-favorites,default my-books classics i-own audiobook 5-st...
5180539,to-read,favorites,currently-reading,fiction,books-i-own,owned,adventure,default,my-books,audiobook,audiobooks my-library english books read-in-20...
1310148,to-read,fantasy,favorites,currently-reading,fiction,books-i-own,owned,series,favourites,magic,owned-books re-read adventure sci-fi-fantasy a...
5755958,to-read,favorites,currently-reading,fiction,books-i-own,owned,series,owned-books,re-read,audiobook,audiobooks my-library read-in-2016 mystery lib...
2069860,to-read,fantasy,favorites,currently-reading,fiction,books-i-own,owned,favourites,magic,re-read,sci-fi-fantasy default my-books i-own audioboo...

Traitement de la colonne year

In [8]:
test['original_publication_year'] = pd.to_datetime(test['original_publication_year'], errors='coerce')

/tmp/ipykernel_9796/2304877803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['original_publication_year'] = pd.to_datetime(test['original_publication_year'], errors='coerce')

In [9]:
test['year'] = test['original_publication_year'].apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

/tmp/ipykernel_9796/113833746.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['year'] = test['original_publication_year'].apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [10]:
test = test.drop('original_publication_year', axis=1)

In [11]:
def convert_int(x):
    try:
        return int(x)
    except:
        return 0

test['year'] = test['year'].apply(convert_int)

In [12]:
test['year'].head(5)

5655461    1970
5839215    1970
2744466    1970
2915357    1970
2842432    1970
Name: year, dtype: int64

recommandation basées sur les contenu

In [42]:
do['title'],do['book_id'] = do['title'],do['book_id']

tfidf = TfidfVectorizer(stop_words='english')

do['title'].fillna('')

tfidf_matrix = tfidf.fit_transform(do['tags'])

tfidf_matrix.shape

print(tfidf_matrix)

In [1]:
cosine = linear_kernel(tfidf_matrix, tfidf_matrix)

NameError: name 'linear_kernel' is not defined

In [10]:
cosine

array([[1.        , 0.22296877, 0.21562452, ..., 0.15807452, 0.278953  ,
        0.22576771],
       [0.22296877, 1.        , 0.13315265, ..., 0.09555213, 0.2628626 ,
        0.13738856],
       [0.21562452, 0.13315265, 1.        , ..., 0.19335947, 0.17685845,
        0.32347015],
       ...,
       [0.15807452, 0.09555213, 0.19335947, ..., 1.        , 0.17920672,
        0.16014622],
       [0.278953  , 0.2628626 , 0.17685845, ..., 0.17920672, 1.        ,
        0.16952248],
       [0.22576771, 0.13738856, 0.32347015, ..., 0.16014622, 0.16952248,
        1.        ]])

In [26]:
ind = pd.Series(data.index, index=data['title']).drop_duplicates()

In [27]:
ind

title
The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)          0
The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)          1
The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)          2
The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)          3
The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)          4
                                                                  ...
Vicious (Sinners of Saint, #1)                                   5976474
Vicious (Sinners of Saint, #1)                                   5976475
Vicious (Sinners of Saint, #1)                                   5976476
Vicious (Sinners of Saint, #1)                                   5976477
Vicious (Sinners of Saint, #1)                                   5976478
Length: 5976479, dtype: int64

In [40]:
ind.index

Index(['The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)',
       'The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)',
       'The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)',
       'The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)',
       'The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)',
       'The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)',
       'The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)',
       'The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)',
       'The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)',
       'The Shadow of the Wind (The Cemetery of Forgotten Books,  #1)',
       ...
       'Vicious (Sinners of Saint, #1)', 'Vicious (Sinners of Saint, #1)',
       'Vicious (Sinners of Saint, #1)', 'Vicious (Sinners of Saint, #1)',
       'Vicious (Sinners of Saint, #1)', 'Vicious (Sinners of Saint, #1)',
       'Vicious (Sinners of Saint, #1)', 'Vicious (Sinners of Saint, #1)',
       'Vicious (Sinners of Saint, #1)', 'Vicious (Sinners of Saint, #1)'],
      dtype='object', name='title', length=5976479)

In [41]:
def recommandation(title, cosine, ind):

    idx = ind[title]
    sim__scores = list(enumerate(cosine[idx])) #score de similitude convertie en liste de tuple
    sim__scores = sorted(sim__scores, key=lambda x: x[1], reverse=True) #trier en fonction du score des similitudes 
    sim__scores = sim__scores[1:11] #ignore le premier

    movie = [i[0] for i in sim__scores] #obtenir les index

    return data['title'].iloc[movie] #return les 10 les + 

# erreur

recommandation("The Giving Tree")

IndexError: index 1018494 is out of bounds for axis 0 with size 5977

découper chaque expression en mots puis de créer une matrice

In [20]:
count_vect = CountVectorizer    
counts = count_vect.fit_transform(test["tags"])
counts.shape

TypeError: fit_transform() missing 1 required positional argument: 'raw_documents'

In [28]:
type(counts)

scipy.sparse.csr.csr_matrix

In [29]:
counts[:5,:5].toarray()

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

In [30]:
counts[0,:].sum()

159

td-idf

matrices de très grande dimension qu’il faut réduire

In [21]:
sklearn.feature_extraction.text import TfidfTransformer
tfidf = TfidfTransformer()
res = tfidf.fit_transform(counts)
res.shape

SyntaxError: invalid syntax (3490867260.py, line 1)

In [105]:
res[0,:].sum()

7.413753409722367

Préparation des données

In [106]:
cv = CountVectorizer()
texts = test['tags']
cv.fit(texts)

CountVectorizer()

In [107]:
print ("taille: ", len (cv.vocabulary_))

taille:  8094

In [108]:
bow = cv.transform(texts)
print ('Les mots: ', bow)
sdm = bow.toarray()

Les mots:    (0, 122)	1
  (0, 123)	1
  (0, 124)	2
  (0, 125)	2
  (0, 126)	2
  (0, 127)	1
  (0, 214)	1
  (0, 258)	2
  (0, 289)	2
  (0, 293)	2
  (0, 512)	2
  (0, 513)	3
  (0, 658)	1
  (0, 1040)	9
  (0, 1217)	3
  (0, 1410)	1
  (0, 1532)	1
  (0, 1873)	1
  (0, 1926)	1
  (0, 1962)	1
  (0, 1981)	1
  (0, 2058)	1
  (0, 2116)	1
  (0, 2228)	1
  (0, 2229)	2
  :	:
  (5976, 5934)	1
  (5976, 5937)	6
  (5976, 5944)	1
  (5976, 6098)	1
  (5976, 6340)	1
  (5976, 6353)	2
  (5976, 6354)	1
  (5976, 6744)	1
  (5976, 6770)	1
  (5976, 6781)	1
  (5976, 6807)	6
  (5976, 6810)	1
  (5976, 6815)	1
  (5976, 6832)	1
  (5976, 6912)	2
  (5976, 6928)	3
  (5976, 6983)	1
  (5976, 7073)	1
  (5976, 7090)	1
  (5976, 7134)	5
  (5976, 7135)	1
  (5976, 7166)	2
  (5976, 7376)	1
  (5976, 7404)	1
  (5976, 7686)	1

In [134]:
cv = CountVectorizer(min_df=4, stop_words= test['tags'].tolist()).fit(texts)

In [112]:
import matplotlib.pyplot as plt

#plt.hist(test['tags'])

In [42]:
#cv.get_feature_names()

Matrice

In [22]:
tfidf = TfidfVectorizer(stop_words='english')

tfidf_matrix = tfidf.fit_transform(test['tags'])

tfidf_matrix.shape

print(tfidf_matrix)

  (0, 523)	0.21823786629550632
  (0, 4570)	0.19160597172672256
  (0, 3887)	0.17691239421848268
  (0, 4732)	0.17106628951222203
  (0, 6657)	0.1044021038625366
  (0, 347)	0.35382478843696535
  (0, 1445)	0.22342057604074236
  (0, 5659)	0.11878406746403516
  (0, 7016)	0.11723208828966034
  (0, 1942)	0.09060019372087653
  (0, 6656)	0.07392294240795472
  (0, 5828)	0.09395379105096956
  (0, 4388)	0.09155847640243896
  (0, 6627)	0.10636090633927354
  (0, 6961)	0.16497407715793874
  (0, 6629)	0.10588556963672913
  (0, 3597)	0.09498236816340815
  (0, 2158)	0.04623355910613764
  (0, 3596)	0.11577351938725271
  (0, 3275)	0.10310892286641454
  (0, 6302)	0.10258981534049837
  (0, 5824)	0.11702219002810935
  (0, 3350)	0.04850686849345464
  (0, 2925)	0.04142021962733439
  (0, 7422)	0.06751448057444674
  :	:
  (5976, 2236)	0.024621576398188995
  (5976, 1183)	0.04548909635707437
  (5976, 3952)	0.023415976557719646
  (5976, 133)	0.31434952678649775
  (5976, 652)	0.02627320908471938
  (5976, 134)	0.1649595145592761
  (5976, 2374)	0.03229828682654168
  (5976, 4194)	0.02109651327877515
  (5976, 654)	0.025206373533469953
  (5976, 2600)	0.0817218385206603
  (5976, 6666)	0.07358954195432624
  (5976, 653)	0.024475827758804226
  (5976, 7036)	0.03231640656189453
  (5976, 298)	0.038357161268921934
  (5976, 2605)	0.025120597980200568
  (5976, 5212)	0.06304649465844962
  (5976, 1008)	0.14605411763243972
  (5976, 2651)	0.06262604221718687
  (5976, 294)	0.02160378224589531
  (5976, 7652)	0.10619167518659117
  (5976, 5822)	0.021195566782974372
  (5976, 1849)	0.021825538373001586
  (5976, 2601)	0.041876597599238896
  (5976, 2573)	0.17473430817411514
  (5976, 5811)	0.25037848736989665

Score de similitude du cosinus

In [133]:
cosine = linear_kernel(tfidf_matrix, tfidf_matrix)

In [115]:
cosine

array([[1.        , 0.08217559, 0.25781691, ..., 0.28234366, 0.14024094,
        0.16337021],
       [0.08217559, 1.        , 0.14767653, ..., 0.04682229, 0.03757513,
        0.03191529],
       [0.25781691, 0.14767653, 1.        , ..., 0.17512584, 0.15206208,
        0.12369231],
       ...,
       [0.28234366, 0.04682229, 0.17512584, ..., 1.        , 0.10245683,
        0.58470815],
       [0.14024094, 0.03757513, 0.15206208, ..., 0.10245683, 1.        ,
        0.11585173],
       [0.16337021, 0.03191529, 0.12369231, ..., 0.58470815, 0.11585173,
        1.        ]])